<!DOCTYPE html>
<html lang="en">
<head>
  <title>GNUKhata</title>
  <style type="text/css">

  .selected
  {
    background-color: Aquamarine;
  }
  @page {
    size: 29.7cm 21cm ;
    margin: 10mm 10mm 20mm 10mm; /* change the margins as you want them to be. */
  }
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  td {
    font-size: 60%;
    color: black;
  }

  th {
    font-size: 70%;
  }
  table { page-break-inside:auto }
  tr    { page-break-inside:avoid; page-break-after:auto }
  thead { display: table-header-group; }
  tfoot { display: table-footer-group; }
.nopadding{
  padding: 0 !important;
  margin: 0 !important;
}
  /*
  Force table width to 100%
  */
  table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.	(Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after	{
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).	We must specify an explicit height for the tbody.	We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 68vh;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead, table.table-fixedheader>tfoot {
    overflow-y: scroll;
    height: 26px;
    width: 98.5%;
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.	(Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).	We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;

  }

  table.table-keep>thead tr th, table.table-keep>tbody tr td, table.table-keep>tfoot tr td {
    float: left;

  }
  #liabtable, #patable {
    background-color: white;
  }


  </style>
</head>
<body>
  {% if orgtype=="Profit Making" %}
  <span style="margin:auto; display:table;"><strong>Conventional Balance Sheet </strong>as on <strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
  {% else %}
  <span style="margin:auto; display:table;"><strong>Conventional Statement of Affairs </strong>as on <strong>{{to[8:10]+to[4:8]+to[0:4]}}</strong></span>
  {% endif %}
  <div class="row">
    <div class="table-responsive col-xs-6 nopadding" >
      <table id="liabtable" class="shadow table table-condensed table-fixedheader cbalsheettable">
        <thead>
          <tr>
            {% if orgtype=="Profit Making" %}
            <th class="col-xs-6">Capital and Liabilities</th>
            {% else %}
            <th class="col-xs-6">Corpus and Liabilities</th>
            {% endif %}
            <th style="text-align:right" class="col-xs-2">&nbsp</th>
            <th style="text-align:right" class="col-xs-2">&nbsp</th>
            <th style="text-align:right" class="col-xs-2">Amount</th>
          </tr>
        </thead>
        <tbody>

          {% for record in records["leftlist"] %}
          {%if record["groupAccname"]!="Sources:"%}
          {%if (record["groupAccname"]=="Loss for the Year:" or record["groupAccname"]=="Deficit for the Year:" or record["groupAccname"]=="Surplus for the Year:" or record["groupAccname"]=="Profit for the Year:")%}
            <tr value="{{record["groupAcccode"]}}">
          {%elif record["groupAccflag"] == 2%}
            <tr value="{{record["groupAcccode"]}}" class="subgroupacc g{{record["accountof"]}}" style="display:none;">
          {% elif record["groupAccflag"] == 1  %}
            <tr value="{{record["groupAcccode"]}}" class="groupacc g{{record["accountof"]}}" style="display:none;">
          {%elif record["subgroupof"]!=""%}
            <tr value="g{{record["groupAcccode"]}}" class="groupacc g{{record["subgroupof"]}}" style="display:none;">
          {%else%}
            <tr value="g{{record["groupAcccode"]}}" class="groupname">
          {%endif%}

            <td class="col-xs-6">
              {% if record["groupAccname"]=="Total" or record["groupAccname"]=="Sources:" or record["groupAccname"]=="Difference" %}
              <a class="libgname" href="#" style="text-decoration: none; color:black;"><b>{{record["groupAccname"].upper()}}</b></a>
              {%elif record["groupAccname"]==""%}
              <a class="libgname" href="#">&nbsp</a>
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"].upper()}}</a>
              {%elif record["groupAccflag"]==1 %}
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname" href="#">{{record["groupAccname"]}}</a>
              {%elif record["groupAccflag"]==2%}
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="libgname acc " href="#">{{record["groupAccname"]}}</a>
              {%else%}
              <a href="#" class="libgname groupname">{{record["groupAccname"].upper()}}</a>
              {%endif%}
            </td>

            {%if record["advflag"]==1%}
              {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
              <td class="col-xs-2" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              {%else%}
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
              {%endif%}
            {%else%}
              {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
              <td class="col-xs-2" style="text-align:right">{{record["amount"]}}</td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right"><b>{{record["amount"]}}</b></td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              {%else%}
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right"><b>{{record["amount"]}}</b></td>
              {%endif%}
              {%endif%}
          </tr>
          {%endif%}
          {% endfor %}

        </tbody>
      </table>
    </div>
    <div class="table-responsive col-xs-6 nopadding" >
      <table id="patable" class="shadow table table-condensed table-fixedheader cbalsheettable">
        <thead>
          <tr>
            <th class="col-xs-6">Property and Assets</th>
            <th style="text-align:right" class="col-xs-2">&nbsp</th>
            <th style="text-align:right" class="col-xs-2">&nbsp</th>
            <th style="text-align:right" class="col-xs-2">Amount</th>
          </tr>
        </thead>
        <tbody>
          {% for record in records["rightlist"] %}
          {%if record["groupAccname"]!="Applications:"%}
          {%if (record["groupAccname"]=="Loss for the Year:" or record["groupAccname"]=="Deficit for the Year:" or record["groupAccname"]=="Surplus for the Year:" or record["groupAccname"]=="Profit for the Year:")%}
            <tr value="{{record["groupAcccode"]}}">
          {%elif record["groupAccflag"] == 2%}
            <tr value="{{record["groupAcccode"]}}" class="subgroupacc g{{record["accountof"]}}" style="display:none;">
          {% elif record["groupAccflag"] == 1  %}
            <tr value="{{record["groupAcccode"]}}" class="groupacc g{{record["accountof"]}}" style="display:none;">
          {%elif record["subgroupof"]!=""%}
            <tr value="g{{record["groupAcccode"]}}" class="groupacc g{{record["subgroupof"]}}" style="display:none;">
          {%else%}
            <tr value="g{{record["groupAcccode"]}}" class="groupname">
          {%endif%}

            <td class="col-xs-6">
              {% if record["groupAccname"]=="Total" or record["groupAccname"]=="Difference" or record["groupAccname"]=="Applications:" %}
              <a class="pagname" href="#" style="text-decoration: none; color:black;"><b>{{record["groupAccname"].upper()}}</b></a>
              {%elif record["groupAccname"]==""%}
              <a class="pagname" href="#">&nbsp
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="pagname " href="#">{{record["groupAccname"].upper()}}</a>
              {%elif record["groupAccflag"]==1 %}
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="pagname " href="#">{{record["groupAccname"]}}</a>
              {%elif record["groupAccflag"]==2%}
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a class="pagname acc " href="#">{{record["groupAccname"]}}</a>
              {%else%}
              <a href="#" class="pagname groupname">{{record["groupAccname"].upper()}}</a>
              {%endif%}
            </td>

            {%if record["advflag"]==1%}
              {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
              <td class="col-xs-2" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              {%else%}
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right; color:red;"><b>{{record["amount"]}}</b></td>
              {%endif%}
            {%else%}
              {%if record["groupAccflag"]==2 or record["groupAccflag"]==1%}
              <td class="col-xs-2" style="text-align:right">{{record["amount"]}}</td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              {%elif (record["groupAccflag"]=="" and record["subgroupof"]!="")%}
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right"><b>{{record["amount"]}}</b></td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              {%else%}
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right">
              </td>
              <td class="col-xs-2" style="text-align:right"><b>{{record["amount"]}}</b></td>
              {%endif%}
            {%endif%}
          </tr>
          {%endif%}
          {% endfor %}
        </tbody>
      </table>
      <input type="hidden" name="balancesheettype" id="balancesheettype" value="{{balancesheettype}}">
      <input type="hidden" name="cto" id="cto" value="{{to}}">

    </div>
  </div>
  <span class="hidden-print" style="margin:auto; display:table;">
    <button type="button" class="btn btn-sm btn-danger" id="balback" accesskey="b"><u>B</u>ack</button>
    <button type="button" class="btn btn-sm btn-primary" id="sbgbtn" accesskey="g">Show Sub<u>g</u>roups</button>
    <button type="button" class="btn btn-sm btn-primary" id="grpbtn" accesskey="w">Sho<u>w</u> Groups</button>
    <button type="button" class="btn btn-sm btn-primary" id="accbtn" accesskey="a">Show All <u>A</u>ccounts</button>
    <button type="button" class="btn btn-sm btn-primary" id="sabutn" accesskey="s"><u>S</u>ources & Applications of Funds</button>
     <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">E<u>x</u>port to Spreadsheet</button>
     <button class="btn btn-sm btn-primary" type="button"  id="printconvbalance" accesskey="t">View Prin<u>t</u>able Version</button>
     <button class="btn btn-sm btn-primary" type="button"  id="realprintbalance" accesskey="t">Prin<u>t</u></button>
  </span>
  <input type="hidden" id="ledtodate" value="{{to}}">
  <input type="hidden" id="ledfromdate" value="{{from}}">
  <input type="hidden" id="backflag" value="{{backflag}}">
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/conventionalbalancesheetreport.js')}}"></script>
</body>
</html>
